Repository wix/wix-style-react, pull requests merged in 2019-07, with the labels that each got.

#3628 <Badge/> - support ellipsis in case of long text
  src/Badge/Badge.js
  src/Badge/docs/ExampleBadgeEllipsis.js
  src/Badge/docs/index.story.js
  src/Badge/tests/Badge.visual.js
  src/BadgeSelect/BadgeSelect.e2e.js
  src/BadgeSelect/test/BadgeSelect.visual.js
Labels: Badge

#3662 <PopoverMenu> adjust popover menu appendTo prop type
  src/PopoverMenu/PopoverMenu.js
Labels: PopoverMenu

#3682 Components Cheatsheet- InputFamily
  stories/Introduction/Cheatsheet/ComponentsCheatsheet.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/ButtonFamily.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/FoundationFamily.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/InputFamily.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/LayoutFamily.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/ModalFamily.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/NavigationFamily.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/NotificationFamily.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/OtherFamily.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/PickerFamily.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/SelectionFamily.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/TooltipFamily.js
  stories/Introduction/Cheatsheet/sharedComponents.js
  stories/Introduction/ComponentsCheatsheet.js
  stories/Introduction/index.js
Labels: DO NOT MERGE, Docs, WIP

#3713 <Sidebar/> - create a title component
  src/Sidebar/SidebarSectionTitle/SidebarSectionTitle.js
  src/Sidebar/SidebarSectionTitle/SidebarSectionTitle.scss
  src/Sidebar/SidebarSectionTitle/index.js
  src/Sidebar/index.js
  src/Sidebar/test/Sidebar.visual.js
  src/index.js
Labels: Sidebar

#3716 <Sidebar/> - create a divider component
  src/Sidebar/SidebarSectionDivider/SidebarSectionDivider.js
  src/Sidebar/SidebarSectionDivider/SidebarSectionDivider.scss
  src/Sidebar/SidebarSectionDivider/index.js
  src/Sidebar/SidebarSectionTitle/SidebarSectionTitle.scss
  src/Sidebar/index.js
  src/Sidebar/test/Sidebar.visual.js
Labels: Sidebar, WIP

#3722 <SidebarSectionTitle/> - regenerate component using the generator
  .wuf/components.json
  .wuf/testkits/definitions.js
  src/Sidebar/SidebarSectionTitle/SidebarSectionTitle.js
  src/Sidebar/SidebarSectionTitle/SidebarSectionTitle.scss
  src/Sidebar/SidebarSectionTitle/index.js
  src/Sidebar/index.js
  src/Sidebar/test/Sidebar.visual.js
  src/SidebarSectionTitle/SidebarSectionTitle.js
  src/SidebarSectionTitle/SidebarSectionTitle.meta.js
  src/SidebarSectionTitle/SidebarSectionTitle.st.css
  src/SidebarSectionTitle/SidebarSectionTitle.uni.driver.js
  src/SidebarSectionTitle/docs/index.story.js
  src/SidebarSectionTitle/index.js
  src/SidebarSectionTitle/test/SidebarSectionTitle.private.uni.driver.js
  src/SidebarSectionTitle/test/SidebarSectionTitle.spec.js
  src/SidebarSectionTitle/test/SidebarSectionTitle.visual.js
  src/SidebarSectionTitle/test/storySettings.js
  src/index.js
  stories/index.js
  testkit/enzyme.js
  testkit/index.js
  testkit/protractor.js
  testkit/puppeteer.js
Labels: Sidebar

#3714 Components Cheatsheet- LayoutFamily
  stories/Introduction/Cheatsheet/ComponentsCheatsheet.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/LayoutFamily.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/LayoutFamily/LayoutFamily.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/LayoutFamily/examples/CardExamples.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/LayoutFamily/examples/PageExamples.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/LayoutFamily/examples/TableExamples.js
  stories/Introduction/Cheatsheet/sharedComponents.js
  stories/PageLayout/ExampleEmptyState.js
  stories/PageLayout/ExampleGeneralLayout.js
Labels: Docs

#3727 Cheatsheet- Selection Family
  stories/Introduction/Cheatsheet/ComponentsFamilies/SelectionFamily.js
Labels: Docs

#3731 Cheatsheet- Modal Family
  stories/Introduction/Cheatsheet/ComponentsFamilies/ModalFamily.js
Labels: Docs

#3751 <SidebarSectionItem/> - create the component
  .wuf/components.json
  .wuf/testkits/definitions.js
  src/Sidebar/colors.st.css
  src/SidebarSectionItem/SidebarSectionItem.js
  src/SidebarSectionItem/SidebarSectionItem.meta.js
  src/SidebarSectionItem/SidebarSectionItem.st.css
  src/SidebarSectionItem/SidebarSectionItem.uni.driver.js
  src/SidebarSectionItem/docs/examples.js
  src/SidebarSectionItem/docs/index.story.js
  src/SidebarSectionItem/index.js
  src/SidebarSectionItem/test/SidebarSectionItem.private.uni.driver.js
  src/SidebarSectionItem/test/SidebarSectionItem.spec.js
  src/SidebarSectionItem/test/SidebarSectionItem.visual.js
  src/SidebarSectionItem/test/storySettings.js
  src/SidebarSectionTitle/SidebarSectionTitle.st.css
  src/index.js
  stories/index.js
  testkit/enzyme.js
  testkit/index.js
  testkit/protractor.js
  testkit/puppeteer.js
Labels: Sidebar

#3748 Cheatsheet- Buttons Family
  stories/Introduction/Cheatsheet/ComponentsFamilies/ButtonFamily.js
Labels: Docs

#3758 <SidebarSectionDivider/> - create the component
  .wuf/components.json
  .wuf/testkits/definitions.js
  src/Sidebar/SidebarSectionDivider/SidebarSectionDivider.js
  src/Sidebar/SidebarSectionDivider/SidebarSectionDivider.scss
  src/Sidebar/SidebarSectionDivider/index.js
  src/Sidebar/colors.st.css
  src/Sidebar/index.js
  src/Sidebar/test/Sidebar.visual.js
  src/SidebarSectionDivider/SidebarSectionDivider.js
  src/SidebarSectionDivider/SidebarSectionDivider.meta.js
  src/SidebarSectionDivider/SidebarSectionDivider.st.css
  src/SidebarSectionDivider/SidebarSectionDivider.uni.driver.js
  src/SidebarSectionDivider/docs/index.story.js
  src/SidebarSectionDivider/index.js
  src/SidebarSectionDivider/test/SidebarSectionDivider.private.uni.driver.js
  src/SidebarSectionDivider/test/SidebarSectionDivider.spec.js
  src/SidebarSectionDivider/test/SidebarSectionDivider.visual.js
  src/SidebarSectionDivider/test/storySettings.js
  src/index.js
  stories/index.js
  testkit/enzyme.js
  testkit/index.js
  testkit/protractor.js
  testkit/puppeteer.js
Labels: Sidebar

#3771 docs(PopoverMenu): fix testkit path imports
  src/beta/PopoverMenu/docs/testkit.md
Labels: Docs

#3756 use wuf to generate protractor testkits exports
  .wuf/testkits/definitions.js
  .wuf/testkits/protractor.template.ejs
  scripts/update-components.sh
  testkit/protractor.js
Labels: infrastructure

#3775 Feat/wuf generate puppeteer testkits exports
  .wuf/testkits/definitions.js
  .wuf/testkits/protractor.template.ejs
  .wuf/testkits/puppeteer.template.ejs
  scripts/update-components.sh
  testkit/puppeteer.js
Labels: infrastructure

#3753 Cheatsheet- Improving components layout and APIs
  stories/Introduction/Cheatsheet/ComponentsFamilies/ButtonFamily.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/FoundationFamily.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/InputFamily.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/LayoutFamily/LayoutFamily.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/LayoutFamily/examples/CardExamples.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/LayoutFamily/examples/PageExamples.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/LayoutFamily/examples/TableExamples.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/ModalFamily.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/NavigationFamily.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/NotificationFamily.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/OtherFamily.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/PickerFamily.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/SelectionFamily.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/TooltipFamily.js
  stories/Introduction/Cheatsheet/sharedComponents.js
  stories/Introduction/Cheatsheet/sharedComponents/ComponentNaming.js
  stories/Introduction/Cheatsheet/sharedComponents/ComponentStorybookName.js
  stories/Introduction/Cheatsheet/sharedComponents/ComponentsNames.js
  stories/Introduction/Cheatsheet/sharedComponents/FamilyStructure.js
  stories/Introduction/Cheatsheet/sharedComponents/NotDefined.js
  stories/Introduction/Cheatsheet/sharedComponents/NotDeveloped.js
  stories/Introduction/Cheatsheet/sharedComponents/SingleComponentSideBySide.js
  stories/Introduction/Cheatsheet/sharedComponents/SingleComponentStacked/Preview.js
  stories/Introduction/Cheatsheet/sharedComponents/SingleComponentStacked/SingleComponentStacked.js
  stories/Introduction/Cheatsheet/sharedComponents/SingleComponentStacked/index.js
  stories/Introduction/Cheatsheet/sharedComponents/constants.js
  stories/Introduction/Cheatsheet/sharedComponents/index.js
Labels: Docs

#3787 <SidebarHeader/> - create the component
  .wuf/components.json
  .wuf/testkits/definitions.js
  src/MultiSelect/MultiSelect.uni.driver.js
  src/Sidebar/test/Sidebar.visual.js
  src/SidebarHeader/SidebarHeader.js
  src/SidebarHeader/SidebarHeader.meta.js
  src/SidebarHeader/SidebarHeader.st.css
  src/SidebarHeader/SidebarHeader.uni.driver.js
  src/SidebarHeader/constants.js
  src/SidebarHeader/docs/index.story.js
  src/SidebarHeader/index.js
  src/SidebarHeader/test/SidebarHeader.private.uni.driver.js
  src/SidebarHeader/test/SidebarHeader.spec.js
  src/SidebarHeader/test/SidebarHeader.visual.js
  src/SidebarHeader/test/storySettings.js
  src/index.js
  stories/index.js
  testkit/enzyme.js
  testkit/index.js
  testkit/protractor.js
  testkit/puppeteer.js
Labels: Sidebar

#3793 Cheatsheet- content widget family
  stories/Introduction/Cheatsheet/ComponentsCheatsheet.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/ContentWidgetsFamily.js
Labels: Docs

#3799 <SidebarDivider/> - improve component
  .wuf/components.json
  .wuf/testkits/definitions.js
  src/Sidebar/test/Sidebar.visual.js
  src/SidebarDivider/SidebarDivider.js
  src/SidebarDivider/SidebarDivider.meta.js
  src/SidebarDivider/SidebarDivider.st.css
  src/SidebarDivider/SidebarDivider.uni.driver.js
  src/SidebarDivider/docs/index.story.js
  src/SidebarDivider/index.js
  src/SidebarDivider/test/SidebarDivider.private.uni.driver.js
  src/SidebarDivider/test/SidebarDivider.spec.js
  src/SidebarDivider/test/SidebarDivider.visual.js
  src/SidebarDivider/test/storySettings.js
  src/SidebarSectionDivider/SidebarSectionDivider.meta.js
  src/SidebarSectionDivider/index.js
  src/SidebarSectionDivider/test/SidebarSectionDivider.private.uni.driver.js
  src/index.js
  stories/index.js
  testkit/enzyme.js
  testkit/index.js
  testkit/protractor.js
  testkit/puppeteer.js
Labels: Sidebar

#3796 use wuf to generate testkits type definitions
  .wuf/beta/testkits/definitions.js
  .wuf/beta/testkits/enzyme-typescript.template.ejs
  .wuf/beta/testkits/enzyme.template.ejs
  .wuf/beta/testkits/protractor.template.ejs
  .wuf/beta/testkits/puppeteer.template.ejs
  .wuf/beta/testkits/vanilla-typescript.template.ejs
  .wuf/beta/testkits/vanilla.template.ejs
  .wuf/testkits/enzyme-typescript.template.ejs
  .wuf/testkits/protractor-typescript.template.ejs
  .wuf/testkits/puppeteer-typescript.template.ejs
  .wuf/testkits/vanilla-typescript.template.ejs
  .wuf/update-components-beta.sh
  .wuf/update-components.sh
  package.json
  scripts/update-components-beta.sh
  testkit/beta/enzyme.d.ts
  testkit/beta/enzyme.js
  testkit/beta/index.d.ts
  testkit/beta/index.js
  testkit/beta/protractor.js
  testkit/beta/puppeteer.js
  testkit/enzyme.d.ts
  testkit/enzyme.js
  testkit/index.d.ts
  testkit/index.js
  testkit/protractor.d.ts
  testkit/protractor.js
  testkit/puppeteer.d.ts
  testkit/puppeteer.js
Labels: infrastructure

#3810 chore(wuf/generator/codemods/index): remove testkits-exports codemods
  .wuf/generator/codemods/index.js
  .wuf/generator/codemods/testkit-exports.js
Labels: infrastructure

#3811 <SidebarSectionTitle/> - improve component
  src/SidebarSectionTitle/SidebarSectionTitle.js
  src/SidebarSectionTitle/SidebarSectionTitle.st.css
  src/SidebarSectionTitle/docs/index.story.js
  src/SidebarSectionTitle/test/SidebarSectionTitle.visual.js
Labels: Sidebar

#3816 chore(testkit/*.d.ts): add missing type definitions
  .wuf/testkits/enzyme-typescript.template.ejs
  .wuf/testkits/protractor-typescript.template.ejs
  .wuf/testkits/puppeteer-typescript.template.ejs
  .wuf/testkits/vanilla-typescript.template.ejs
  testkit/enzyme.d.ts
  testkit/index.d.ts
  testkit/protractor.d.ts
  testkit/puppeteer.d.ts
Labels: DO NOT MERGE, infrastructure

#3804 Cheatsheet- Tooltip family
  stories/Introduction/Cheatsheet/ComponentsFamilies/TooltipFamily.js
Labels: Docs

#3802 Cheatsheet- Navigation family
  stories/Introduction/Cheatsheet/ComponentsFamilies/NavigationFamily.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/TooltipFamily.js
Labels: Docs

#3834 <SidebarSectionItem/> - add `drillable` prop
  src/SidebarSectionItem/SidebarSectionItem.js
  src/SidebarSectionItem/docs/examples.js
  src/SidebarSectionItem/docs/index.story.js
  src/SidebarSectionItem/test/SidebarSectionItem.spec.js
Labels: Sidebar

#3817 <Sidebar/> - improve docs with index page
  src/Sidebar/main.scss
  src/Sidebar/test/Sidebar.visual.js
  src/SidebarDivider/SidebarDivider.js
  src/SidebarDivider/SidebarDivider.st.css
  src/SidebarDivider/docs/index.story.js
  src/SidebarHeader/SidebarHeader.js
  src/SidebarHeader/SidebarHeader.st.css
  src/SidebarHeader/docs/index.story.js
  src/SidebarSectionItem/SidebarSectionItem.js
  src/SidebarSectionItem/SidebarSectionItem.st.css
  src/SidebarSectionItem/SidebarSectionItem.uni.driver.js
  src/SidebarSectionItem/constants.js
  src/SidebarSectionItem/docs/examples.js
  src/SidebarSectionItem/docs/index.story.js
  src/SidebarSectionItem/test/SidebarSectionItem.spec.js
  src/SidebarSectionItem/test/SidebarSectionItem.visual.js
  src/SidebarSectionTitle/SidebarSectionTitle.st.css
  stories/Sidebar/examples.js
  stories/Sidebar/index.story.js
  stories/Sidebar/storySettings.js
  stories/index.js
  stories/storiesHierarchy.js
Labels: Sidebar

#3841 <Sidebar/> - improve visual tests
  src/Sidebar/test/Sidebar.visual.js
  src/SidebarDivider/test/SidebarDivider.visual.js
  src/SidebarHeader/test/SidebarHeader.visual.js
  src/SidebarSectionItem/test/SidebarSectionItem.visual.js
  src/SidebarSectionTitle/test/SidebarSectionTitle.visual.js
Labels: Sidebar

#3842 <Sidebar/> - remove visual components from WIP category
  src/SidebarDivider/test/storySettings.js
  src/SidebarHeader/test/storySettings.js
  src/SidebarSectionItem/docs/index.story.js
  src/SidebarSectionItem/test/storySettings.js
  src/SidebarSectionTitle/docs/index.story.js
  src/SidebarSectionTitle/test/storySettings.js
Labels: Sidebar

#3640 isHidden prop added to sidebar
  src/Sidebar/Sidebar.js
  src/Sidebar/main.scss
  src/Sidebar/test/Sidebar.visual.js
Labels: Sidebar

#3847 <SideMenu/> - deprecate component
  .wuf/testkits/definitions.js
  src/Deprecated/SideMenu/DrillView/DrillView.driver.js
  src/Deprecated/SideMenu/DrillView/DrillView.e2e.js
  src/Deprecated/SideMenu/DrillView/DrillView.js
  src/Deprecated/SideMenu/DrillView/DrillView.protractor.driver.js
  src/Deprecated/SideMenu/DrillView/DrillView.scss
  src/Deprecated/SideMenu/DrillView/DrillView.spec.js
  src/Deprecated/SideMenu/DrillView/DrillView.uni.driver.js
  src/Deprecated/SideMenu/DrillView/Link.js
  src/Deprecated/SideMenu/DrillView/README.md
  src/Deprecated/SideMenu/DrillView/SubMenu.js
  src/Deprecated/SideMenu/DrillView/index.js
  src/Deprecated/SideMenu/README.md
  src/Deprecated/SideMenu/core/Header.js
  src/Deprecated/SideMenu/core/Promotion.js
  src/Deprecated/SideMenu/core/SideMenu.driver.js
  src/Deprecated/SideMenu/core/SideMenu.js
  src/Deprecated/SideMenu/core/SideMenu.spec.js
  src/Deprecated/SideMenu/core/SideMenu.uni.driver.js
  src/Deprecated/SideMenu/core/footer/Link.js
  src/Deprecated/SideMenu/core/footer/TinyLink.js
  src/Deprecated/SideMenu/core/footer/index.js
  src/Deprecated/SideMenu/core/footer/styles.scss
  src/Deprecated/SideMenu/core/navigation/BackLink.js
  src/Deprecated/SideMenu/core/navigation/Badge.js
  src/Deprecated/SideMenu/core/navigation/Category.js
  src/Deprecated/SideMenu/core/navigation/Link.js
  src/Deprecated/SideMenu/core/navigation/LinkLayout.js
  src/Deprecated/SideMenu/core/navigation/Separator.js
  src/Deprecated/SideMenu/core/navigation/index.js
  src/Deprecated/SideMenu/core/navigation/styles.scss
  src/Deprecated/SideMenu/core/styles.scss
  src/Deprecated/SideMenu/docs/ExampleSideMenuDrill.js
  src/Deprecated/SideMenu/docs/ExampleSideMenuDrillRTL.js
  src/Deprecated/SideMenu/docs/ExampleStandard.js
  src/Deprecated/SideMenu/docs/ExampleStandardRTL.js
  src/Deprecated/SideMenu/docs/ExampleSubMenu.js
  src/Deprecated/SideMenu/docs/SideMenu.js
  src/Deprecated/SideMenu/docs/index.js
  src/Deprecated/SideMenu/index.js
  src/SideMenu/index.js
  src/SideMenuDrill/index.js
  src/index.d.ts
  src/index.js
  stories/index.js
  testkit/enzyme.js
  testkit/index.js
  testkit/protractor.js
  testkit/puppeteer.js
Labels: SideMenu
