Repository wix/wix-style-react, pull requests merged in 2019-05, with the labels that each got.

#3323 <RichTextInputArea/> - support removing links by toggling the button
  src/RichTextInputArea/EditorUtilities.js
  src/RichTextInputArea/EditorUtilities.spec.js
  src/RichTextInputArea/RichTextInputArea.spec.js
  src/RichTextInputArea/Toolbar/RichTextToolbar.js
  src/RichTextInputArea/Toolbar/RichTextToolbar.private.uni.driver.js
  src/RichTextInputArea/Toolbar/RichTextToolbarLinkButton.js
  src/RichTextInputArea/test/RichTextInputArea.visual.js
Labels: RichTextArea

#3337 <RichTextInputArea/> - fix list incorrect style
  src/RichTextInputArea/RichTextInputArea.js
Labels: RichTextArea

#3342 <RichTextInputArea/> - add scrollBehavior polyfill
  src/RichTextInputArea/README.TESTKIT.md
  src/RichTextInputArea/RichTextInputArea.spec.js
  testkit/polyfills/index.js
  testkit/polyfills/scroll-behavior.js
Labels: RichTextArea

#3299 chore(generator): use `wuf generate`
  generator/codemods/index-file.js
  generator/codemods/index.js
  generator/codemods/stories-file.js
  generator/codemods/testkit-definitions.js
  generator/codemods/testkit-exports.js
  generator/templates/src/Component/Component.js
  generator/templates/src/Component/Component.meta.js
  generator/templates/src/Component/Component.st.css
  generator/templates/src/Component/Component.uni.driver.js
  generator/templates/src/Component/docs/index.story.js
  generator/templates/src/Component/index.js
  generator/templates/src/Component/test/Component.e2e.js
  generator/templates/src/Component/test/Component.private.uni.driver.js
  generator/templates/src/Component/test/Component.spec.js
  generator/templates/src/Component/test/Component.visual.js
  generator/templates/src/Component/test/ComponentStories.js
  generator/templates/src/Component/test/storySettings.js
  package.json
  scripts/generate-component/__test__/__snapshots__/copy-templates.spec.js.snap
  scripts/generate-component/__test__/copy-templates.spec.js
  scripts/generate-component/__test__/create-values-map.spec.js
  scripts/generate-component/__test__/replace-templates.spec.js
  scripts/generate-component/__test__/run-codemods.spec.js
  scripts/generate-component/__test__/utils.spec.js
  scripts/generate-component/__test__/verify-working-directory.spec.js
  scripts/generate-component/__testfixtures__/index.input.js
  scripts/generate-component/__testfixtures__/index.output.js
  scripts/generate-component/__testfixtures__/stories.input.js
  scripts/generate-component/__testfixtures__/stories.output.js
  scripts/generate-component/__testfixtures__/testkit-definitions.input.js
  scripts/generate-component/__testfixtures__/testkit-definitions.output.js
  scripts/generate-component/__testfixtures__/testkit-enzyme.input.js
  scripts/generate-component/__testfixtures__/testkit-enzyme.output.js
  scripts/generate-component/__testfixtures__/testkit-index.input.js
  scripts/generate-component/__testfixtures__/testkit-index.output.js
  scripts/generate-component/__testfixtures__/testkit-protractor.input.js
  scripts/generate-component/__testfixtures__/testkit-protractor.output.js
  scripts/generate-component/__testfixtures__/testkit-puppeteer.input.js
  scripts/generate-component/__testfixtures__/testkit-puppeteer.output.js
  scripts/generate-component/bin/generate-component.js
  scripts/generate-component/bin/generate-test-component.js
  scripts/generate-component/src/create-values-map.js
  scripts/generate-component/src/generate-component.js
  scripts/generate-component/src/index.js
  scripts/generate-component/src/logger.js
  scripts/generate-component/src/replace-templates.js
  scripts/generate-component/src/tasks/copy-templates.js
  scripts/generate-component/src/tasks/run-codemods.js
  scripts/generate-component/src/tasks/run-lint-fix.js
  scripts/generate-component/src/tasks/run-prompts.js
  scripts/generate-component/src/tasks/verify-working-directory.js
  scripts/generate-component/src/utils.js
  scripts/generate-component/templates/.eslintignore
Labels: infrastructure

#3352 <RichTextInputArea/> - update existing docs to use the new component
  src/RichTextInputArea/RichTextInputArea.js
  src/RichTextInputArea/docs/README.TESTKIT.md
  src/RichTextInputArea/docs/examples.js
  src/RichTextInputArea/docs/examples/ExampleRichTextInputArea.js
  src/RichTextInputArea/docs/index.story.js
  src/RichTextInputArea/docs/storySettings.js
  src/RichTextInputArea/test/RichTextInputArea.e2e.js
  stories/RichTextArea/examples.js
  stories/RichTextArea/index.story.js
  stories/RichTextArea/storySettings.js
  stories/index.js
Labels: RichTextArea

#3354 <RichTextArea/> - deprecate the component
  src/Accordion/docs/index.story.js
  src/Deprecated/RichTextArea/RichTextArea.driver.js
  src/Deprecated/RichTextArea/RichTextArea.e2e.js
  src/Deprecated/RichTextArea/RichTextArea.js
  src/Deprecated/RichTextArea/RichTextArea.protractor.driver.js
  src/Deprecated/RichTextArea/RichTextArea.scss
  src/Deprecated/RichTextArea/RichTextArea.spec.js
  src/Deprecated/RichTextArea/RichTextAreaButton.js
  src/Deprecated/RichTextArea/RichTextAreaButton.protractor.driver.js
  src/Deprecated/RichTextArea/RichTextAreaButton.scss
  src/Deprecated/RichTextArea/RichTextAreaLinkButton.js
  src/Deprecated/RichTextArea/RichTextAreaLinkForm.js
  src/Deprecated/RichTextArea/RichTextAreaLinkForm.scss
  src/Deprecated/RichTextArea/RichTextAreaToolbar.js
  src/Deprecated/RichTextArea/RichTextAreaToolbar.scss
  src/Deprecated/RichTextArea/htmlSerializer.js
  src/Deprecated/RichTextArea/htmlSerializer.spec.js
  src/Deprecated/RichTextAreaComposite/README.md
  src/Deprecated/RichTextAreaComposite/RichTextAreaComposite.driver.js
  src/Deprecated/RichTextAreaComposite/RichTextAreaComposite.js
  src/RichTextArea/docs/examples.js
  src/RichTextArea/docs/index.story.js
  src/RichTextArea/index.js
  src/RichTextAreaComposite/index.js
  src/common/Focusable/FocusableHOC.js
  src/index.d.ts
  stories/Deprecated/RichTextArea/examples.js
  stories/Deprecated/RichTextArea/index.story.js
  stories/Deprecated/RichTextArea/storySettings.js
  stories/Deprecated/RichTextArea/testStory.js
  stories/index.js
  testkit/enzyme.js
  testkit/index.js
  testkit/protractor.js
  testkit/testkit-definitions.js
Labels: RichTextArea

#3312 <FormField/> - migrate infoIcon Tooltip component.
  src/FormField/FormField.driver.js
  src/FormField/FormField.js
  src/FormField/FormField.spec.js
  src/FormField/FormField.uni.driver.js
  src/Tooltip/TooltipNext/Tooltip.js
  src/common/InfoIcon/InfoIcon.js
  src/common/InfoIcon/InfoIcon.scss
  src/common/InfoIcon/InfoIcon.st.css
Labels: DO NOT MERGE, WIP

#3326 `<AddItem/>` - migrate Tooltip & migrate to stylable & add unidriver
  src/AddItem/AddItem.driver.js
  src/AddItem/AddItem.e2e.js
  src/AddItem/AddItem.js
  src/AddItem/AddItem.scss
  src/AddItem/AddItem.spec.js
  src/AddItem/AddItem.st.css
  src/AddItem/AddItem.uni.driver.js
  src/AddItem/components/ActionText.js
  src/AddItem/components/TooltipHOC.js
  src/AddItem/components/TooltipHOC.st.css
  src/AddItem/docs/Examples/AddImageExample.js
  src/AddItem/docs/Examples/BreakpointsExample.js
  src/AddItem/docs/Examples/VerticalExample.js
  src/AddItem/docs/Examples/WithinExample.js
  src/AddItem/docs/Examples/WithoutActionExample.js
  src/AddItem/docs/examples.js
  src/AddItem/docs/index.story.js
  src/AddItem/docs/sizes.md
  src/AddItem/docs/themes.md
  src/AddItem/tests/AddItem.private.driver.js
  src/AddItem/tests/AddItem.private.uni.driver.js
  src/AddItem/tests/AddItem.visual.js
  src/ImageViewer/ImageViewer.driver.js
  src/ImageViewer/ImageViewer.js
Labels: DO NOT MERGE, WIP

#3368 <Carousel/> - improve carousel component
  src/Carousel/Carousel.driver.js
  src/Carousel/Carousel.js
  src/Carousel/Carousel.spec.js
  src/Carousel/docs/index.story.js
Labels: Carousel, WIP

#3410 <Tooltip/> - add disabled prop to disable tooltips trigger behaviour
  src/Tooltip/TooltipNext/Tooltip.js
  src/Tooltip/TooltipNext/test/Tooltip.spec.js
  src/Tooltip/index.d.ts
  test/types/Tooltip.tsx
Labels: Tooltip

#3415 <Carousel/> - refactor the component to use react-slick
  package.json
  src/Carousel/Carousel.driver.js
  src/Carousel/Carousel.global.scss
  src/Carousel/Carousel.js
  src/Carousel/Carousel.private.driver.js
  src/Carousel/Carousel.scss
  src/Carousel/Carousel.spec.js
  src/Carousel/Pagination/Pagination.js
  src/Carousel/Pagination/Pagination.scss
  src/Carousel/SliderArrow/SliderArrow.js
  src/Carousel/SliderArrow/index.js
  src/Carousel/docs/README.TESTKIT.md
  src/Carousel/docs/examples.js
  src/Carousel/docs/index.story.js
  stories/utils/LiveCodeExample/index.spec.js
  testkit/polyfills/index.js
  testkit/polyfills/match-media-register.js
  testkit/polyfills/match-media.js
  testkit/testkit-smoke.test.js
Labels: Carousel

#3425 <Carousel/> - migrate e2e to visual grid
  src/Carousel/Carousel.e2e.js
  src/Carousel/test/Carousel.visual.js
Labels: Carousel

#3429 <Carousel/> - improve indicator visual design
  src/Carousel/Carousel.scss
  src/Carousel/Pagination/Pagination.scss
Labels: Carousel

#3430 <Carousel/> - support `children` prop
  src/Carousel/Carousel.driver.js
  src/Carousel/Carousel.js
  src/Carousel/Carousel.scss
  src/Carousel/Carousel.spec.js
  src/Carousel/docs/examples.js
  src/Carousel/docs/index.story.js
  src/Carousel/test/Carousel.visual.js
Labels: Carousel, WIP

#3444 <Carousel/> - add `buttonSkin` prop
  src/Carousel/Carousel.js
  src/Carousel/SliderArrow/SliderArrow.js
  src/Carousel/docs/examples.js
  src/Carousel/docs/index.story.js
  src/Carousel/test/Carousel.visual.js
Labels: Carousel

#3447 <Carousel/> - load required polyfill internally
  src/Carousel/Carousel.js
  src/Carousel/Carousel.spec.js
  src/Carousel/docs/README.TESTKIT.md
  src/Carousel/docs/index.story.js
  src/common/match-media-register.js
  stories/utils/LiveCodeExample/index.spec.js
  testkit/polyfills/match-media-register.js
  testkit/polyfills/match-media.js
  testkit/testkit-smoke.test.js
Labels: Carousel

#3475 docs(Box): fix broken documentation page
  src/Box/docs/index.story.js
Labels: Docs
