Repository wix/wix-style-react, pull requests merged in 2019-06, with the labels that each got.

#3473 <Carousel/> - add disabled button in non-infinite mode
  src/Carousel/Carousel.private.driver.js
  src/Carousel/Carousel.spec.js
  src/Carousel/SliderArrow/SliderArrow.js
Labels: Carousel

#3508 `<DropdownBase/>` - add missing testkit method optionsCount
  src/DropdownBase/DropdownBase.uni.driver.js
Labels: DropdownBase

#3485 <PopoverMenu/> - Beta
  beta/PopoverMenu.js
  scripts/generate-testkit-exports/list-all-components.js
  src/ListItemAction/ListItemAction.js
  src/PopoverMenu/docs/storySettings.js
  src/beta/PopoverMenu/PopoverMenu.js
  src/beta/PopoverMenu/PopoverMenu.meta.js
  src/beta/PopoverMenu/PopoverMenu.st.css
  src/beta/PopoverMenu/PopoverMenu.uni.driver.js
  src/beta/PopoverMenu/docs/examples/buttonMenuExample.js
  src/beta/PopoverMenu/docs/examples/dividerExample.js
  src/beta/PopoverMenu/docs/examples/stylesExample.js
  src/beta/PopoverMenu/docs/index.story.js
  src/beta/PopoverMenu/docs/testkit.md
  src/beta/PopoverMenu/docs/usage.md
  src/beta/PopoverMenu/index.js
  src/beta/PopoverMenu/test/PopoverMenu.private.uni.driver.js
  src/beta/PopoverMenu/test/PopoverMenu.spec.js
  src/beta/PopoverMenu/test/PopoverMenu.visual.js
  src/beta/PopoverMenu/test/storySettings.js
  stories/index.js
  stories/storiesHierarchy.js
  testkit/beta/enzyme.js
  testkit/beta/index.js
  testkit/beta/protractor.js
  testkit/beta/puppeteer.js
Labels: DO NOT MERGE, PopoverMenu, WIP

#3386 <Sidebar/> - new sidebar component
  src/CircularProgressBar/test/CircularProgressBar.spec.js
  src/FormField/FormField.js
  src/Sidebar/COMPOUND_README.API.md
  src/Sidebar/CONTEXT_README.API.md
  src/Sidebar/Sidebar.js
  src/Sidebar/Sidebar.meta.js
  src/Sidebar/Sidebar.private.uni.driver.js
  src/Sidebar/Sidebar.uni.driver.js
  src/Sidebar/SidebarAPI.js
  src/Sidebar/SidebarBackButton/SidebarBackButton.js
  src/Sidebar/SidebarBackButton/index.js
  src/Sidebar/SidebarItem/SidebarItem.js
  src/Sidebar/SidebarItem/index.js
  src/Sidebar/SidebarPersistentFooter/SidebarPersistentFooter.js
  src/Sidebar/SidebarPersistentFooter/index.js
  src/Sidebar/SidebarPersistentHeader/SidebarPersistentHeader.js
  src/Sidebar/SidebarPersistentHeader/index.js
  src/Sidebar/dataHooks.js
  src/Sidebar/docs/SidebarItemContextExample.js
  src/Sidebar/docs/SimpleExample.js
  src/Sidebar/docs/index.story.js
  src/Sidebar/index.js
  src/Sidebar/main.scss
  src/Sidebar/test/Sidebar.BackButton.spec.js
  src/Sidebar/test/Sidebar.SidebarItem.spec.js
  src/Sidebar/test/Sidebar.spec.js
  src/Sidebar/test/Sidebar.visual.js
  src/Sidebar/test/storySettings.js
  src/common/Focusable/FocusableHOC.js
  src/index.js
  stories/index.js
  testkit/enzyme.js
  testkit/index.js
  testkit/protractor.js
  testkit/puppeteer.js
  testkit/testkit-definitions.js
Labels: type:new components

#3535 <DropdownLayout /> fix onOptionMarked not called on default marked option
  src/DropdownLayout/DropdownLayout.js
  src/DropdownLayout/DropdownLayout.spec.js
Labels: type:bug

#3538 <Table/> - explain compound components
  src/Table/docs/COMPOUND_README.API.md
  src/Table/docs/CONTEXT_README.API.md
  src/Table/docs/README.API.md
  src/Table/docs/improved-index.story.js
Labels: Docs, Table

#3546 <Table/> - document missing props
  src/Table/Table.js
  src/Table/docs/COMPOUND_README.API.md
  src/Table/docs/improved-index.story.js
Labels: Docs, Table

#3476 use wix-ui-framework to generate enzyme & vanilla testkit exports
  .wuf/components.json
  .wuf/generator/codemods/index-file.js
  .wuf/generator/codemods/index.js
  .wuf/generator/codemods/stories-file.js
  .wuf/generator/codemods/testkit-definitions.js
  .wuf/generator/codemods/testkit-exports.js
  .wuf/generator/templates/src/Component/Component.js
  .wuf/generator/templates/src/Component/Component.meta.js
  .wuf/generator/templates/src/Component/Component.st.css
  .wuf/generator/templates/src/Component/Component.uni.driver.js
  .wuf/generator/templates/src/Component/docs/index.story.js
  .wuf/generator/templates/src/Component/index.js
  .wuf/generator/templates/src/Component/test/Component.e2e.js
  .wuf/generator/templates/src/Component/test/Component.private.uni.driver.js
  .wuf/generator/templates/src/Component/test/Component.spec.js
  .wuf/generator/templates/src/Component/test/Component.visual.js
  .wuf/generator/templates/src/Component/test/ComponentStories.js
  .wuf/generator/templates/src/Component/test/storySettings.js
  .wuf/required-component-files.json
  .wuf/testkits/definitions.js
  .wuf/testkits/enzyme.template.js
  .wuf/testkits/vanilla.template.js
  generator/codemods/index.js
  package.json
  scripts/generate-testkit-exports/generate.js
  scripts/generate-testkit-exports/index.js
  scripts/generate-testkit-exports/list-all-components.js
  scripts/generate-testkit-exports/templates/load.js
  testkit/all-components.js
  testkit/enzyme.js
  testkit/index.js
  testkit/testkit-smoke.test.js
Labels: infrastructure

#3560 <Thumbnail/> - show title below thumbnail
  src/Thumbnail/README.md
  src/Thumbnail/Thumbnail.js
  src/Thumbnail/Thumbnail.private.uni.driver.js
  src/Thumbnail/Thumbnail.spec.js
  src/Thumbnail/Thumbnail.st.css
  src/Thumbnail/Thumbnail.uni.driver.js
  src/Thumbnail/docs/examples.js
Labels: Thumbnail

#3559 <Table/> - migrate to visual grid
  src/Table/Table.e2e.js
  src/Table/test/Table.visual.js
  src/Table/test/testExamples.js
Labels: Table

#3584 <Table/> - add example with infinite scroll
  src/Table/docs/examples/TableInfiniteScrollExample.js
  src/Table/docs/improved-index.story.js
Labels: Docs, Table

#3568 <Thumbnail /> — allow custom children
  src/Thumbnail/Thumbnail.js
  src/Thumbnail/Thumbnail.private.uni.driver.js
  src/Thumbnail/Thumbnail.spec.js
  src/Thumbnail/Thumbnail.st.css
  src/Thumbnail/docs/examples.js
  src/Thumbnail/docs/index.story.js
  src/Thumbnail/test/Thumbnail.visual.js
Labels: Thumbnail

#3587 <Carousel/> - move docs to "Components"
  src/Carousel/docs/storySettings.js
Labels: Carousel, Docs

#3585 <Table/> - add example with virtualization
  src/Table/docs/examples/TableVirtualizationExample.js
  src/Table/docs/improved-index.story.js
Labels: Docs, Table

#3590 <Table/> - add example with EmptyState
  src/Table/docs/examples/TableEmptyStateExample.js
  src/Table/docs/improved-index.story.js
Labels: Docs, Table

#3592 <Table/> - migrate existing examples to new docs
  src/Table/README.API.md
  src/Table/README.TESTKIT.md
  src/Table/docs/ActionCellPrimaryExample.js
  src/Table/docs/ActionCellPrimarySecondaryExample.js
  src/Table/docs/DefaultToolbar.js
  src/Table/docs/Table.story.scss
  src/Table/docs/TableColumnAlignmentExample.js
  src/Table/docs/TableEmptyStateExample.js
  src/Table/docs/TableExample.js
  src/Table/docs/TableHighlightRowsExample.js
  src/Table/docs/TableInfiniteScrollExample.js
  src/Table/docs/TableSelectionDisabledExample.js
  src/Table/docs/TableVirtualizationExample.js
  src/Table/docs/examples/TableActionCellExample.js
  src/Table/docs/examples/TableAlignedColumnsExample.js
  src/Table/docs/examples/TableHighlightedRowsExample.js
  src/Table/docs/examples/TablePageExample.js
  src/Table/docs/improved-index.story.js
  src/Table/docs/index.story.js
  src/Table/docs/storySettings.js
  src/Table/test/Table.e2e.js
  src/Table/test/testExamples.js
  src/Table/test/testStory.js
  stories/index.js
Labels: Docs, Table

#3597 docs(ColorInput): add example of `colorPickerChildren` as function
  src/ColorInput/docs/Usage.md
  src/ColorInput/docs/examples.js
  src/ColorInput/docs/index.story.js
Labels: Docs

#3603 <Page/> - fix warning regarding missing `key` in children
  src/Page/Page.js
Labels: Page

#3602 <RichTextInputArea/> - add `target` attribute to rendered links
  src/RichTextInputArea/RichTextInputArea.js
  src/RichTextInputArea/RichTextInputArea.private.uni.driver.js
  src/RichTextInputArea/RichTextInputArea.spec.js
Labels: RichTextArea

#3612 <Page/> - migrate to visual tests
  src/Page/Page.deprecated.e2e.js
  src/Page/docs/PageTestStories.js
  src/Page/docs/PageTestStoriesDeprecated.js
  src/Page/test/Page.deprecated.e2e.js
  src/Page/test/Page.deprecated.visual.js
  src/Page/test/Page.e2e.js
  src/Page/test/Page.visual.js
  src/Page/test/examples/BMPageContainer.js
  src/Page/test/examples/BMPageContainer.scss
  src/Page/test/examples/SomeContentComponent.js
  src/Page/test/examples/testExamples.js
  src/Page/test/examples/testExamples.scss
Labels: Page

#3613 <Box/> - migrate to visual tests
  src/Box/Box.e2e.js
  src/Box/test/Box.visual.js
Labels: Box

#3614 `<Checkbox/>`- migrating e2e tests to visual grid
  src/Checkbox/test/Checkbox.e2e.js
  src/Checkbox/test/Checkbox.spec.js
  src/Checkbox/test/Checkbox.visual.js
Labels: Checkbox

#3621 <Table/> - simplify `<Page/>` example
  src/Table/docs/examples/TablePageExample.js
  src/Table/docs/index.story.js
Labels: Docs, Table

#3638 fix(ErrorIndicator): use `appendTo="window"` for tooltip
  src/ErrorIndicator/ErrorIndicator.js
Labels: InputArea
