Repository wix/wix-style-react, pull requests merged in 2019-10, with the labels that each got.

#4177 <Input/> - fixed line-height
  src/Input/InputMixins.scss
Labels: Input

#4188 <Tag/> - Make visual tests better
  src/Tag/tests/Tag.visual.js
Labels: Tag

#4196 <RadioGroup/> - Make visual tests better
  src/RadioGroup/test/RadioGroup.visual.js
Labels: RadioButton

#4193 <Checkbox/> - Make visual tests better
  src/Checkbox/test/Checkbox.visual.js
Labels: Checkbox

#4204 <Divider/> - create the component
  .wuf/components.json
  .wuf/testkits/definitions.js
  src/Divider/Divider.js
  src/Divider/Divider.meta.js
  src/Divider/Divider.st.css
  src/Divider/Divider.uni.driver.js
  src/Divider/constants.js
  src/Divider/docs/examples.js
  src/Divider/docs/index.story.js
  src/Divider/index.js
  src/Divider/test/Divider.private.uni.driver.js
  src/Divider/test/Divider.spec.js
  src/Divider/test/Divider.visual.js
  src/Divider/test/storySettings.js
  src/index.js
  stories/index.js
  testkit/enzyme.d.ts
  testkit/enzyme.js
  testkit/index.d.ts
  testkit/index.js
  testkit/protractor.d.ts
  testkit/protractor.js
  testkit/puppeteer.d.ts
  testkit/puppeteer.js
Labels: Divider

#4209 <SidebarDivider/> - change to use <Divider/>
  src/SidebarDivider/SidebarDivider.js
  src/SidebarDivider/SidebarDivider.st.css
Labels: Sidebar

#4201 <Checkbox/> - Implement selection area
  src/Checkbox/Checkbox.js
  src/Checkbox/Checkbox.scss
  src/Checkbox/docs/ExampleFormField.js
  src/Checkbox/docs/examples.js
  src/Checkbox/docs/index.story.js
  src/Checkbox/test/Checkbox.visual.js
Labels: Checkbox

#4211 <Divider/> - improve vertical direction
  src/Divider/Divider.st.css
Labels: Divider

#4192 <Accordion> - missing expand label for icon
  src/Accordion/Accordion.spec.js
  src/Accordion/AccordionItem/AccordionItem.js
  src/Accordion/docs/examples.js
Labels: Accordion, type:bug

#4231 chore(package.json/bin): remove `migrate-to-icons-v2` command
  package.json
  scripts/migrate-to-icons-v2/__test__/migrate-to-icons-v2.spec.js
  scripts/migrate-to-icons-v2/__testfixtures__/deepImport.input.js
  scripts/migrate-to-icons-v2/__testfixtures__/deepImport.output.js
  scripts/migrate-to-icons-v2/__testfixtures__/generalTransform.input.js
  scripts/migrate-to-icons-v2/__testfixtures__/generalTransform.output.js
  scripts/migrate-to-icons-v2/__testfixtures__/wsrTransform.input.js
  scripts/migrate-to-icons-v2/__testfixtures__/wsrTransform.output.js
  scripts/migrate-to-icons-v2/assets/oldToNewIconsNamesMap.json
  scripts/migrate-to-icons-v2/index.js
  scripts/migrate-to-icons-v2/runner.js
  scripts/migrate-to-icons-v2/transforms.js
  scripts/migrate-to-icons-v2/utils/helperUtils.js
  scripts/migrate-to-icons-v2/utils/importUtils.js
  scripts/migrate-to-icons-v2/utils/pathUtils.js
Labels: infrastructure

#4230 Fix/4226
  src/MessageBox/FunctionalLayout/MessageBoxFunctionalLayout.driver.js
  src/MessageBox/FunctionalLayout/MessageBoxFunctionalLayout.js
  src/MessageBox/FunctionalLayout/MessageBoxFunctionalLayout.spec.js
  src/Modal/docs/examples/SimpleExample.js
  src/Modal/docs/index.story.js
Labels: MessageBoxFunctionalLayout

#4236 chore(package.json): remove zeit-storybook-deploy from postpublish
  package.json
Labels: infrastructure

#4232 chore(package.json): remove unused deps & devDeps
  package.json
Labels: infrastructure

#4244 refactor testkit/definitions.js & update component generator
  .wuf/generator/codemods/index.js
  .wuf/generator/codemods/testkit-definitions.js
  .wuf/testkits/definitions.js
  .wuf/testkits/enzyme.template.ejs
  .wuf/testkits/protractor.template.ejs
  .wuf/testkits/puppeteer.template.ejs
  .wuf/testkits/vanilla.template.ejs
  testkit/puppeteer.js
  testkit/testkit-smoke.test.js
Labels: infrastructure

#4263 fix(applitools.config.js): use original config
  .ci_config
  .storybook-test/applitools.config.js
  applitools.config.js
  package.json
Labels: Internal, infrastructure

#4265 <Sidebar/> - add right border
  src/Sidebar/main.scss
Labels: Sidebar

#4268 <SidebarHeader/> - make `title` and `subtitle` optional
  src/SidebarHeader/SidebarHeader.js
  src/SidebarHeader/docs/index.story.js
  src/SidebarHeader/test/SidebarHeader.visual.js
Labels: Sidebar

#4284 test(NumberInput): migrate e2e to visual
  src/NumberInput/test/NumberInput.e2e.js
  src/NumberInput/test/NumberInput.visual.js
  src/NumberInput/test/testStory.js
  stories/index.js
Labels: Docs, infrastructure

#4288 test(Layout): migrate e2e to visual
  src/Layout/Layout.e2e.js
  src/Layout/test/Layout.visual.js
Labels: Docs, infrastructure

#4290 test(StatsWidget): migrate e2e to visual
  src/StatsWidget/StatsWidget.e2e.js
  src/StatsWidget/test/StatsWidget.visual.js
  stories/index.js
Labels: Docs, infrastructure

#4292 test(Modal): migrate e2e to visual
  src/Modal/test/Modal.e2e.js
  src/Modal/test/Modal.visual.js
  src/Modal/test/TestsStory.js
  stories/index.js
Labels: Docs, infrastructure

#4294 test(ModalSelectorLayout): migrate e2e to visual
  src/ModalSelectorLayout/ModalSelectorLayout.e2e.js
  src/ModalSelectorLayout/test/ModalSelectorLayout.visual.js
Labels: Docs, infrastructure

#4180 <Tag/> - Add ellipsis to long tags in a container
  src/Tag/Tag.js
  src/Tag/Tag.scss
  src/Tag/docs/index.story.js
Labels: Tag

#4206 <RadioGroup/> - Implement selection area
  src/RadioGroup/RadioButton/RadioButton.js
  src/RadioGroup/RadioGroup.js
  src/RadioGroup/RadioGroup.scss
  src/RadioGroup/RadioGroup.spec.js
  src/RadioGroup/docs/examples.js
  src/RadioGroup/docs/index.story.js
  src/RadioGroup/test/RadioGroup.visual.js
Labels: RadioButton

#4296 test(Proportion): migrate visual to e2e
  src/Proportion/Proportion.e2e.js
  src/Proportion/test/Proportion.visual.js
Labels: Docs, infrastructure

#4269 <BadgeSelect/> - Add unidriver
  src/BadgeSelect/BadgeSelect.driver.js
  src/BadgeSelect/BadgeSelect.js
  src/BadgeSelect/BadgeSelect.private.driver.js
  src/BadgeSelect/BadgeSelect.private.uni.driver.js
  src/BadgeSelect/BadgeSelect.spec.js
  src/BadgeSelect/BadgeSelect.uni.driver.js
  src/BadgeSelect/DataAttr.js
  src/BadgeSelect/test/BadgeSelect.spec.js
Labels: BadgeSelect

#4322 <DatePicker/> - fix placeholder in firefox
  src/DatePicker/docs/examples.js
  src/DatePicker/test/DatePicker.visual.js
  src/Input/InputMixins.scss
Labels: DatePicker

#4332 <InputWithOptions/>, <Slider/> - Added visuals
  src/InputWithOptions/test/InputWithOptions.visual.js
  src/Slider/tests/Slider.visual.js
Labels: InputWithOptions, Slider

#4324 Migration - remove dependency in backoffice
  .wuf/generator/templates/Component/Component.st.css
  src/Accordion/Accordion.st.css
  src/Accordion/AccordionItem/AccordionItem.st.css
  src/AddItem/AddItem.js
  src/AddItem/AddItem.st.css
  src/Avatar/Avatar.st.css
  src/Badge/Badge.st.css
  src/BadgeSelectItemBuilder/BadgeSelectItem.st.css
  src/BarChart/BarChart.st.css
  src/Button/Button.st.css
  src/Card/Subheader/Subheader.st.css
  src/CircularProgressBar/CircularProgressBar.st.css
  src/ColorInput/components/ColorViewer.st.css
  src/ColorInput/components/Hash.st.css
  src/ComposerHeader/ComposerHeader.st.css
  src/Divider/Divider.st.css
  src/FillButton/FillButton.st.css
  src/FillPreview/FillPreview.st.css
  src/Foundation/stylable/colors.st.css
  src/Foundation/stylable/shadows.st.css
  src/Foundation/stylable/typography.st.css
  src/GooglePreview/GooglePreview.st.css
  src/Heading/Heading.st.css
  src/ImageViewer/ImageViewer.st.css
  src/InputWithLabel/InputWithLabel.st.css
  src/LinearProgressBar/LinearProgressBar.st.css
  src/ListItemAction/ListItemAction.st.css
  src/ModalPreviewLayout/ModalPreviewLayout.st.css
  src/Popover/Popover.st.css
  src/SegmentedToggle/SegmentedToggle.st.css
  src/SegmentedToggle/ToggleButton/ToggleButton.st.css
  src/SegmentedToggle/ToggleIcon/ToggleIcon.st.css
  src/SidebarHeader/SidebarHeader.st.css
  src/SidebarSectionItem/SidebarSectionItem.st.css
  src/SidebarSectionTitle/SidebarSectionTitle.st.css
  src/Slider/SliderHandle.st.css
  src/SocialPreview/SocialPreview.st.css
  src/StatisticsWidget/StatisticsItem/StatisticsItem.st.css
  src/Stepper/Step/StepCircle/StepCircle.st.css
  src/Table/Table.st.css
  src/TableActionCell/docs/TableActionCell.story.st.css
  src/Tag/Tag.scss
  src/Text/Text.st.css
  src/Thumbnail/Thumbnail.st.css
  src/Tooltip/TooltipNext/Tooltip.st.css
  src/common/InfoIcon/InfoIcon.st.css
Labels: Style

#4299 <Sidebar/> - add `skin` prop
  src/Sidebar/Sidebar.js
  src/Sidebar/colors.st.css
  src/Sidebar/constants.js
  src/Sidebar/main.scss
  src/Sidebar/test/Sidebar.spec.js
  src/Sidebar/test/Sidebar.visual.js
  src/SidebarDivider/SidebarDivider.js
  src/SidebarDivider/docs/examples.js
  src/SidebarDivider/docs/index.story.js
  src/SidebarDivider/test/SidebarDivider.visual.js
  src/SidebarHeader/SidebarHeader.js
  src/SidebarHeader/SidebarHeader.st.css
  src/SidebarHeader/docs/examples.js
  src/SidebarHeader/docs/index.story.js
  src/SidebarHeader/test/SidebarHeader.visual.js
  src/SidebarSectionItem/SidebarSectionItem.js
  src/SidebarSectionItem/SidebarSectionItem.st.css
  src/SidebarSectionItem/docs/examples.js
  src/SidebarSectionItem/docs/index.story.js
  src/SidebarSectionItem/test/SidebarSectionItem.visual.js
  src/SidebarSectionTitle/SidebarSectionTitle.js
  src/SidebarSectionTitle/SidebarSectionTitle.st.css
  src/SidebarSectionTitle/docs/examples.js
  src/SidebarSectionTitle/docs/index.story.js
  src/SidebarSectionTitle/test/SidebarSectionTitle.visual.js
  stories/Sidebar/examples.js
  stories/Sidebar/index.story.js
Labels: Sidebar

#4359 <SidebarHeader/> - change padding
  src/SidebarHeader/SidebarHeader.st.css
Labels: Sidebar

#4360 <SectionHelper/> - Fix content margin without X button
  src/DragAndDrop/docs/SortableList/Styles/Styles.md
  src/SectionHelper/SectionHelper.driver.js
  src/SectionHelper/SectionHelper.scss
  src/SectionHelper/SectionHelper.uni.driver.js
  src/SectionHelper/index.js
Labels: SectionHelper

#4362 <InputWithLabel/> - remove redundant propTypes
  src/InputWithLabel/InputWithLabel.js
Labels: InputWithLabel

#4374 <Heading/> - improve light design for H6
  src/Heading/Heading.st.css
Labels: Heading

#4373 <MessageBoxFunctionalLayout/> - improve design
  src/MessageBox/FunctionalLayout/HeaderLayout.scss
  src/MessageBox/FunctionalLayout/MessageBoxFunctionalLayout.scss
Labels: MessageBoxFunctionalLayout

#4376 `<FloatingNotification/>` - pass rest props to the buttons
  src/FloatingNotification/FloatingNotification.js
  src/FloatingNotification/FloatingNotification.uni.driver.js
  src/FloatingNotification/test/FloatingNotification.spec.js
Labels: FloatingNotification, type:feature

#4381 `<Tag/>` - Added some visuals and examples
  src/Tag/Tag.js
  src/Tag/docs/examples.js
  src/Tag/docs/index.story.js
  src/Tag/tests/Tag.visual.js
Labels: Tag

#4382 `<MultiSelect/>` - Remove pointer cursor from Tags on hover
  src/MultiSelect/InputWithTags.js
  src/MultiSelect/InputWithTags.scss
  src/MultiSelect/docs/index.story.js
  stories/MultiSelect/index.story.js
Labels: MultiSelect

#4388 <SideBar/> - Fix a faulty example in story page
  src/Sidebar/docs/SidebarItemContextExample.js
  src/Sidebar/docs/index.story.js
Labels: Sidebar

#4394 <Page.Content/> - Changed children prop to be of type node
  src/Page/Content.js
Labels: Page

#4402 <Sidebar/> - Changed visuals to use SidebarContext.Provider instead of the Sidebar component
  src/SidebarDivider/test/SidebarDivider.visual.js
  src/SidebarHeader/test/SidebarHeader.visual.js
  src/SidebarSectionItem/test/SidebarSectionItem.visual.js
  src/SidebarSectionTitle/test/SidebarSectionTitle.visual.js
Labels: Sidebar

#4384 <MultiSelect/> - Remove little bounce of I-cursor when input gets focus
  src/MultiSelect/InputWithTags.js
  src/MultiSelect/InputWithTags.scss
Labels: MultiSelect

#4313 <Tabs/> - migrate to autodocs
  .wuf/components.json
  package.json
  src/Tabs/Tabs.js
  src/Tabs/docs/TabsHeaderExample.js
  src/Tabs/docs/examples.js
  src/Tabs/docs/index.js
  src/Tabs/docs/index.story.js
  src/Tabs/test/Tabs.visual.js
  stories/index.js
Labels: Tabs

#4396 <MediaOverlay /> - new component
  .wuf/components.json
  perfer.config.js
  src/MediaOverlay/Content/Content.js
  src/MediaOverlay/Content/index.js
  src/MediaOverlay/MediaOverlay.js
  src/MediaOverlay/MediaOverlay.meta.js
  src/MediaOverlay/MediaOverlay.st.css
  src/MediaOverlay/MediaOverlay.uni.driver.js
  src/MediaOverlay/constants.js
  src/MediaOverlay/docs/examples/basic.js
  src/MediaOverlay/docs/examples/content.js
  src/MediaOverlay/docs/examples/customMedia.js
  src/MediaOverlay/docs/examples/header.js
  src/MediaOverlay/docs/examples/hoverSkin.js
  src/MediaOverlay/docs/examples/placement.js
  src/MediaOverlay/docs/examples/skin.js
  src/MediaOverlay/docs/examples/useCase1.js
  src/MediaOverlay/docs/examples/useCase2.js
  src/MediaOverlay/docs/examples/useCase3.js
  src/MediaOverlay/docs/examples/useCase4.js
  src/MediaOverlay/docs/examples/useCase5.js
  src/MediaOverlay/docs/index.story.js
  src/MediaOverlay/index.d.ts
  src/MediaOverlay/index.js
  src/MediaOverlay/test/MediaOverlay.private.uni.driver.js
  src/MediaOverlay/test/MediaOverlay.spec.js
  src/MediaOverlay/test/MediaOverlay.visual.js
  src/MediaOverlay/test/storySettings.js
  src/index.d.ts
  src/index.js
  stories/index.js
  test/types/MediaOverlay.tsx
  testkit/component-definitions.js
  testkit/enzyme.d.ts
  testkit/enzyme.js
  testkit/index.d.ts
  testkit/index.js
  testkit/protractor.d.ts
  testkit/protractor.js
  testkit/puppeteer.d.ts
  testkit/puppeteer.js
Labels: type:new components

#4400 Modal mobile layout
  .wuf/components.json
  package.json
  src/Foundation/stylable/default-scroll-bar.st.css
  src/ModalMobileLayout/ModalMobileLayout.js
  src/ModalMobileLayout/ModalMobileLayout.meta.js
  src/ModalMobileLayout/ModalMobileLayout.st.css
  src/ModalMobileLayout/ModalMobileLayout.uni.driver.js
  src/ModalMobileLayout/docs/examples/FullscreenModal.js
  src/ModalMobileLayout/docs/examples/MobileModal.js
  src/ModalMobileLayout/docs/examples/ModalWrapper.js
  src/ModalMobileLayout/docs/examples/Plain.js
  src/ModalMobileLayout/docs/index.story.js
  src/ModalMobileLayout/index.js
  src/ModalMobileLayout/test/ModalMobileLayout.private.uni.driver.js
  src/ModalMobileLayout/test/ModalMobileLayout.spec.js
  src/ModalMobileLayout/test/ModalMobileLayout.visual.js
  src/ModalMobileLayout/test/storySettings.js
  src/assets/Illustration.svg
  src/index.js
  stories/ModalMobileLayout/MobileModalTemplates.js
  stories/ModalMobileLayout/examples.js
  stories/ModalMobileLayout/index.story.js
  stories/ModalMobileLayout/storySettings.js
  stories/index.js
  testkit/enzyme.d.ts
  testkit/enzyme.js
  testkit/index.d.ts
  testkit/index.js
  testkit/protractor.d.ts
  testkit/protractor.js
  testkit/puppeteer.d.ts
  testkit/puppeteer.js
Labels: ModalMobileLayout

#4432 Modal mobile layout cheatsheet
  stories/Introduction/Cheatsheet/componentsFamilies/ModalFamily.js
  stories/symbolsComponentsMapping/components.js
  stories/symbolsComponentsMapping/families/modalsFamily.js
  stories/symbolsComponentsMapping/symbols.js
Labels: ModalMobileLayout
