Repository wix/wix-style-react, pull requests merged in 2019-09, with the labels that each got.

#4023 Cheatsheet- Fixes of the "Notifications" and "Tooltip" examples
  stories/Introduction/Cheatsheet/ComponentsFamilies/ModalFamily.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/NotificationFamily.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/TooltipFamily.js
  stories/symbolsComponentsMapping/families/LayoutFamily.js
Labels: Docs

#4039 docs(*): remove redundant properties from various sections
  src/Button/docs/index.story.js
  src/Card/docs/index.story.js
  src/Carousel/docs/index.story.js
  src/CloseButton/docs/index.story.js
  src/FormField/docs/index.story.js
  src/IconButton/docs/index.story.js
  src/Input/docs/index.story.js
  src/MultiSelect/docs/index.story.js
  src/Notification/docs/index.story.js
  src/NumberInput/docs/index.story.js
  src/Page/docs/index.story.js
  src/Slider/docs/index.story.js
  src/Text/docs/index.story.js
  stories/Deprecated/RichTextArea/index.story.js
  stories/NumberInput/index.story.js
  stories/RichTextArea/index.story.js
  stories/Sidebar/index.story.js
Labels: Docs

#4029 Cheatsheet- links fixes & examples fixes
  stories/Introduction/Cheatsheet/ComponentsFamilies/ContentWidgetsFamily.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/NavigationFamily.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/OtherFamily.js
  stories/Introduction/Cheatsheet/sharedComponents/utils.js
  stories/symbolsComponentsMapping/components.js
  stories/symbolsComponentsMapping/families/ContentWidgetsFamily.js
  stories/symbolsComponentsMapping/families/PickerFamily.js
  stories/symbolsComponentsMapping/storybookMapping.js
  stories/symbolsComponentsMapping/symbols.js
Labels: Docs

#4049 chore(.wuf/generator/templates): remove e2e & ComponentStories.js templates
  .wuf/generator/templates/Component/Component.js
  .wuf/generator/templates/Component/Component.meta.js
  .wuf/generator/templates/Component/Component.st.css
  .wuf/generator/templates/Component/Component.uni.driver.js
  .wuf/generator/templates/Component/docs/index.story.js
  .wuf/generator/templates/Component/index.js
  .wuf/generator/templates/Component/test/Component.private.uni.driver.js
  .wuf/generator/templates/Component/test/Component.spec.js
  .wuf/generator/templates/Component/test/Component.visual.js
  .wuf/generator/templates/Component/test/storySettings.js
  .wuf/generator/templates/src/Component/test/Component.e2e.js
  .wuf/generator/templates/src/Component/test/ComponentStories.js
  package.json
Labels: infrastructure

#4047 <Dropdown/>- clear selection when selectedId is null
  src/Dropdown/Dropdown.js
  src/Dropdown/tests/Dropdown.spec.js
Labels: Dropdown

#4058 <ModalPreviewLayout/> - move docs to "Components" category
  src/ModalPreviewLayout/test/storySettings.js
Labels: ModalPreviewLayout

#4059 <Avatar/> - change prop name to `onIndicationClick`
  src/Avatar/Avatar.js
  src/Avatar/Avatar.spec.js
  src/Avatar/docs/index.story.js
Labels: Avatar

#4038 Cheatsheet- Foundation family
  stories/Introduction/Cheatsheet/ComponentsFamilies/ButtonFamily.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/ContentWidgetsFamily.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/FoundationFamily.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/InputFamily.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/LayoutFamily/examples/CardExamples.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/LayoutFamily/examples/PageExamples.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/LayoutFamily/examples/TableExamples.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/ModalFamily.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/NavigationFamily.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/NotificationFamily.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/OtherFamily.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/PickerFamily.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/SelectionFamily.js
  stories/Introduction/Cheatsheet/ComponentsFamilies/TooltipFamily.js
  stories/Introduction/Cheatsheet/sharedComponents/ComponentsNames.js
  stories/symbolsComponentsMapping/components.js
  stories/symbolsComponentsMapping/families/buttonsFamily.js
  stories/symbolsComponentsMapping/families/contentWidgetsFamily.js
  stories/symbolsComponentsMapping/families/foundationFamily.js
  stories/symbolsComponentsMapping/families/inputsFamily.js
  stories/symbolsComponentsMapping/families/layoutFamily.js
  stories/symbolsComponentsMapping/families/modalsFamily.js
  stories/symbolsComponentsMapping/families/navigationFamily.js
  stories/symbolsComponentsMapping/families/notificationsFamily.js
  stories/symbolsComponentsMapping/families/otherFamily.js
  stories/symbolsComponentsMapping/families/pickerFamily.js
  stories/symbolsComponentsMapping/families/selectionFamily.js
  stories/symbolsComponentsMapping/families/tooltipPopoverFamily.js
  stories/symbolsComponentsMapping/storybookMapping.js
  stories/symbolsComponentsMapping/symbols.js
Labels: Docs

#4064 update Table column fields documentation
  src/Table/Table.js
Labels: Docs

#4073 docs(PageLayout): add example of stretched <AddItem/>
  stories/PageLayout/ExampleGalleryLayout.js
Labels: Docs

#4063 `<Button/>`- fixing isButtonDisabled testkit function
  src/Button/Button.uni.driver.js
Labels: Button, DO NOT MERGE

#4075 Docs/update testkit section
  .storybook/webpack.config.js
  docs/usage/testing.md
  stories/Introduction/index.js
Labels: Docs, infrastructure

#4046 <Table> - add infiniteBulkSelection
  CHANGELOG.md
  src/DataTable/DataTable.js
  src/Table/BulkSelection/BulkSelection.js
  src/Table/BulkSelection/BulkSelection.spec.js
  src/Table/Table.js
  src/Table/components/TableContent.js
  src/Table/docs/CONTEXT_README.API.md
  src/Table/docs/examples/TableInfiniteScrollWithBulkSelectionExample.js
  src/Table/docs/index.story.js
Labels: Table

#4081 docs: create a layouting guideline
  docs/FAQ/README.md
  docs/usage/LAYOUTING.md
Labels: Docs

#4098 <Page/> - add `height` prop
  src/Page/Page.js
  src/Page/Page.spec.js
  src/Page/docs/ExampleStickyTableWithGap.js
  src/Page/docs/index.story.js
  src/Page/test/Page.visual.js
  stories/PageLayout/ExampleGalleryLayout.js
  stories/PageLayout/ExampleGeneralLayout.js
  stories/PageLayout/ExampleSplitLayout.js
Labels: Page

#4111 chore(tempaltes/index.story.js): remove `issueUrl`
  .wuf/generator/templates/Component/docs/index.story.js
Labels: Docs, infrastructure

#4117 `<ImageViewer/>` - add disabled state
  src/ImageViewer/ImageViewer.driver.js
  src/ImageViewer/ImageViewer.js
  src/ImageViewer/ImageViewer.st.css
  src/ImageViewer/ImageViewer.uni.driver.js
  src/ImageViewer/tests/ImageViewer.spec.js
  src/ImageViewer/tests/ImageViewer.visual.js
Labels: ImageViewer, type:feature

#4114 re-coloring-avatar
  src/Avatar/Avatar.const.js
  src/Avatar/Avatar.js
  src/Avatar/Avatar.st.css
  src/Avatar/docs/AvatarTestStory.js
  src/Avatar/docs/index.story.js
  src/Avatar/index.d.ts
  src/Avatar/string-to-color.js
  src/Avatar/string-to-color.spec.js
  src/Avatar/test/Avatar.visual.js
  src/Foundation/stylable/colors.st.css
  src/colors.scss
  test/types/Avatar.tsx
Labels: Avatar

#4104 `<Modal/>` - improving Modal's documentation
  src/Modal/Modal.driver.js
  src/Modal/Modal.js
  src/Modal/Modal.uni.driver.js
  src/Modal/ModalConstants.js
  src/Modal/README.TESTKIT.md
  src/Modal/README.md
  src/Modal/constants.js
  src/Modal/docs/ExampleControlled.js
  src/Modal/docs/examples/ModalWithCloseButton.js
  src/Modal/docs/examples/SimapleExample.js
  src/Modal/docs/index.js
  src/Modal/docs/index.story.js
  src/Modal/test/Modal.e2e.js
  src/Modal/test/Modal.spec.js
  stories/index.js
Labels: Docs, Modal

#4103 <Table> - improve `disabled` behavior
  src/Table/BulkSelection/BulkSelection.js
  src/Table/BulkSelection/BulkSelection.spec.js
  src/Table/Table.js
  src/Table/docs/CONTEXT_README.API.md
Labels: Table

#4121 `<Breadcrumbs/>`- improving documentation and tests
  src/Breadcrumbs/Breadcrumbs.e2e.js
  src/Breadcrumbs/Breadcrumbs.js
  src/Breadcrumbs/Breadcrumbs.uni.driver.js
  src/Breadcrumbs/BreadcrumbsPathFactory.js
  src/Breadcrumbs/BreadcrumbsPathFactory.spec.js
  src/Breadcrumbs/README.md
  src/Breadcrumbs/constnats.js
  src/Breadcrumbs/docs/ExampleBreadcrumbs.scss
  src/Breadcrumbs/docs/ExampleSizes.js
  src/Breadcrumbs/docs/ExampleStandard.js
  src/Breadcrumbs/docs/ExampleThemes.js
  src/Breadcrumbs/docs/ExampleUsingURL.js
  src/Breadcrumbs/docs/ExampleWithChosenActiveElement.js
  src/Breadcrumbs/docs/ExampleWithOnClick.js
  src/Breadcrumbs/docs/examples/BreadcrumbsOnClickCallback.js
  src/Breadcrumbs/docs/examples/BreadcrumbsSizes.js
  src/Breadcrumbs/docs/examples/BreadcrumbsThemes.js
  src/Breadcrumbs/docs/examples/ControlledBreadcrumbs.js
  src/Breadcrumbs/docs/examples/StandardBreadcrumbs.js
  src/Breadcrumbs/docs/index.story.js
  src/Breadcrumbs/test/Breadcrumbs.spec.js
  src/Breadcrumbs/test/Breadcrumbs.visual.js
  src/Breadcrumbs/test/storySettings.js
Labels: Breadcrumbs, Docs

#4123 Added size prop to <InfoIcon/> and used it in <FormField/>
  src/FormField/FormField.js
  src/FormField/FormField.scss
  src/FormField/FormField.visual.js
  src/common/InfoIcon/InfoIcon.js
Labels: FormField

#4146 <Input/> - change disabled border and background colors
  src/Input/Input.scss
  src/Input/tests/Input.visual.js
  src/InputArea/InputArea.scss
Labels: Input, InputArea

#4147 <ImageViewer/> - fixed round corners
  src/ImageViewer/ImageViewer.js
  src/ImageViewer/ImageViewer.st.css
  src/ImageViewer/tests/ImageViewer.visual.js
Labels: ImageViewer

#4151 <FormField/> - center smaller content
  src/FormField/FormField.scss
  src/FormField/FormField.visual.js
Labels: FormField

#4153 <Stepper/> - Fix ellipsis problem with Safari
  src/Stepper/Step/Step.st.css
Labels: Stepper

#4158 <FormField/> - fix label color
  src/FormField/FormField.js
Labels: FormField

#4161 <FormField/> - fixed small content without stretchContent
  src/FormField/FormField.scss
  src/FormField/FormField.visual.js
Labels: FormField

#4159 <DatePicker/> - Add documentation to functions
  src/Calendar/Calendar.js
  src/DatePicker/DatePicker.js
  src/DatePicker/DatePicker.visual.js
  src/DatePicker/docs/examples.js
  src/DatePicker/docs/index.story.js
  src/FormField/docs/index.story.js
Labels: DatePicker

#4170 <Checkbox/> - use new tooltip
  src/Checkbox/Checkbox.driver.js
  src/Checkbox/Checkbox.js
  src/Checkbox/Checkbox.uni.driver.js
  src/Checkbox/test/Checkbox.spec.js
Labels: Checkbox

#4174 <DatePicker/> - prop initialOpen should not work when disabled
  src/DatePicker/DatePicker.js
Labels: DatePicker
