Repository wix/wix-style-react, pull requests merged in 2020-08, with the labels that each got.

#5779 <TagList/> - Use OmitPolyfill and specify that we ignore Tag's onRemove
  package.json
  src/TagList/index.d.ts
Labels: <TagList/>

#5799 <Collapse/> upgrade react-collapse version
  package.json
  src/Collapse/Collapse.js
  src/Collapse/Collapse.st.css
Labels: <Collapse/>

#5803 <Modal/> - fix simple example story
  src/Modal/docs/examples/ModalWithCloseButton.js
  src/Modal/docs/examples/SimpleExample.js
Labels: <Modal/>, Bug

#5768 <TagList/> - toggle more / less tags
  src/TagList/TagList.js
  src/TagList/TagList.uni.driver.d.ts
  src/TagList/TagList.uni.driver.js
  src/TagList/ToggleMoreButton/ToggleMoreButton.js
  src/TagList/ToggleMoreButton/index.js
  src/TagList/dataHooks.js
  src/TagList/docs/examples/Collapsable.js
  src/TagList/docs/index.story.js
  src/TagList/index.d.ts
  src/TagList/test/TagList.spec.js
Labels: <TagList/>

#5805 <TagList/> - implement tooltip content
  src/TagList/TagList.js
  src/TagList/ToggleMoreButton/ToggleMoreButton.js
  src/TagList/docs/examples/Collapsable.js
  src/TagList/index.d.ts
  src/TagList/test/TagList.spec.js
  src/TagList/test/TagList.tsx
Labels: <TagList/>

#5778 `<MultiselectCheckbox/>`- using both builders and object
  src/DropdownLayout/DropdownLayout.js
  src/DropdownLayout/index.d.ts
  src/DropdownLayout/test/DropdownLayout.spec.js
  src/DropdownLayout/test/DropdownLayout.tsx
  src/Input/Input.js
  src/InputWithOptions/InputWithOptions.js
  src/ListItemSelect/ListItemSelect.js
  src/MultiSelectCheckbox/MultiSelectCheckbox.js
  src/MultiSelectCheckbox/MultiSelectCheckbox.st.css
  src/MultiSelectCheckbox/docs/examples.js
  src/MultiSelectCheckbox/docs/index.story.js
  src/MultiSelectCheckbox/index.js
  src/MultiSelectCheckbox/test/MultiSelectCheckbox.spec.js
  src/MultiSelectCheckbox/test/MultiSelectCheckbox.visual.js
Labels: <MultiSelectCheckbox/>

#5830 WSR9 release
  CHANGELOG-V8.md
  CHANGELOG.md
  MIGRATION.md
  README.md
  RELEASE_NOTES_v9.md
  package.json
Labels: Next Major Version

#5847 Add <VariableInput> public methods to its d.ts
  src/VariableInput/index.d.ts
  src/VariableInput/test/VariableInput.tsx
Labels: <VariableInput/>, Types

#5822 `<MultiSelectCheckbox/>` - updating example to be used with listItemSectionBuilder
  src/ListItemSection/ListItemSection.js
  src/MultiSelectCheckbox/docs/examples.js
Labels: <MultiSelectCheckbox/>

#5850 Cheatsheet - create internal components family
  stories/Introduction/Cheatsheet/ComponentsCheatsheet.js
  stories/Introduction/Cheatsheet/componentsFamilies/InternalFamily.js
  stories/symbolsComponentsMapping/components.js
  stories/symbolsComponentsMapping/families/internalComponentsFamily.js
  stories/symbolsComponentsMapping/symbols.js
Labels: <TagList/>, Docs

#5839 <Table/> - use TagList in Table SubToolbar example
  src/Table/docs/examples/TableSubToolbarExample.js
  src/Table/docs/index.story.js
Labels: <Table/>, <TableToolbar/>, Docs

#5804 <BaseModalLayout/> - add help button
  src/BaseModalLayout/BaseModalLayout.js
  src/BaseModalLayout/BaseModalLayout.st.css
  src/BaseModalLayout/BaseModalLayout.uni.driver.d.ts
  src/BaseModalLayout/BaseModalLayout.uni.driver.js
  src/BaseModalLayout/constants.js
  src/BaseModalLayout/control-button-padding.js
  src/BaseModalLayout/index.d.ts
  src/BaseModalLayout/test/BaseModalLayout.private.uni.driver.js
  src/BaseModalLayout/test/BaseModalLayout.spec.js
  src/BaseModalLayout/test/BaseModalLayout.tsx
  src/BaseModalLayout/test/control-button-padding.spec.js
Labels: <BaseModalLayout/>

#5841 <ListItemSection/> - fix title and subheader colors
  src/ListItemSection/ListItemSection.js
  src/ListItemSection/ListItemSection.st.css
Labels: <ListItemSection/>, Bug

#5808 <VariableInput/> - fix wrong display when there is "{" before a variable
  src/VariableInput/EditorUtilities.js
  src/VariableInput/test/EditorUtilities.spec.js
  src/VariableInput/test/VariableInput.spec.js
Labels: <VariableInput/>, Bug

#5852 <AnnouncementModalLayout/> - add help button
  src/AnnouncementModalLayout/AnnouncementModalLayout.js
  src/AnnouncementModalLayout/docs/examples/HelpButtonExample.js
  src/AnnouncementModalLayout/docs/index.story.js
  src/AnnouncementModalLayout/index.d.ts
  src/AnnouncementModalLayout/test/AnnouncementModalLayout.tsx
  src/AnnouncementModalLayout/test/AnnouncementModalLayout.visual.js
Labels: <AnnouncementModalLayout/>

#5849 <CustomModalLayout/> - add help button
  src/CustomModalLayout/CustomModalLayout.js
  src/CustomModalLayout/CustomModalLayout.st.css
  src/CustomModalLayout/docs/examples/HelpButtonExample.js
  src/CustomModalLayout/docs/index.story.js
  src/CustomModalLayout/index.d.ts
  src/CustomModalLayout/test/CustomModalLayout.visual.js
Labels: CustomModalLayout, PR: reviewed-approved

#5853 <MessageModalLayout/> - add help button
  src/MessageModalLayout/MessageModalLayout.js
  src/MessageModalLayout/MessageModalLayout.st.css
  src/MessageModalLayout/docs/examples/HelpButtonExample.js
  src/MessageModalLayout/docs/index.story.js
  src/MessageModalLayout/index.d.ts
  src/MessageModalLayout/test/MessageModalLayout.tsx
  src/MessageModalLayout/test/MessageModalLayout.visual.js
Labels: <MessageModalLayout/>

#5891 docs(*): use wix-style-react.com domain
  MIGRATION.md
  README.md
  docs/contribution/DOCUMENTING_COMPONENTS.md
  docs/usage/MOBILE_WEB_GUIDELINES.md
Labels: Docs

#5878 table driver fix
  src/Table/DataTable/DataTable.driver.js
  src/Table/DataTable/DataTable.uni.driver.js
Labels: WIP

#5887 <RichTextInputArea/> - add spellCheck prop
  src/RichTextInputArea/RichTextInputArea.js
  src/RichTextInputArea/docs/examples/SpellChecking.js
  src/RichTextInputArea/docs/index.story.js
  src/RichTextInputArea/index.d.ts
  src/RichTextInputArea/test/RichTextInputArea.tsx
Labels: <RichTextInputArea/>

#5903 <Ellipsis/> - export component common props
  src/Heading/Heading.js
  src/Heading/index.d.ts
  src/ListItemAction/index.d.ts
  src/Text/Caption.js
  src/Text/Text.js
  src/Text/index.d.ts
  src/common/Ellipsis/index.d.ts
  src/common/PropTypes/EllipsisCommon.js
Labels: <Ellipsis/>
