Repository wix/wix-style-react, pull requests merged in 2020-07, with the labels that each got.

#5636 <Heading/> - use Ellipsis internally
  perfer.config.js
  src/BarChart/BarChart.js
  src/Heading/Heading.js
  src/Heading/index.d.ts
  src/StatisticsWidget/StatisticsItem/StatisticsItem.js
Labels: Internal

#5637 <Badge> - use <Caption/> internally
  perfer.config.js
  src/Badge/Badge.js
  src/Badge/Badge.st.css
  src/Text/Caption.js
  src/Text/Caption.st.css
  src/common/Ellipsis/Ellipsis.js
Labels: Internal

#5638 <EllipsisHOC/> - Remove component
  src/ListItemAction/index.d.ts
  src/common/EllipsisHOC/EllipsedTooltip.js
  src/common/EllipsisHOC/EllipsedTooltip.st.css
  src/common/EllipsisHOC/EllipsisHOC.js
  src/common/EllipsisHOC/EllipsisHOC.spec.js
  src/common/EllipsisHOC/EllipsisHOC.uni.driver.js
  src/common/EllipsisHOC/index.d.ts
  src/common/EllipsisHOC/index.js
  src/common/EllipsisHOC/utils.js
Labels: Internal

#5642 <CounterBadge/> - use Caption internally
  perfer.config.js
  src/Badge/Badge.js
  src/CounterBadge/CounterBadge.js
  src/CounterBadge/CounterBadge.st.css
  src/CounterBadge/CounterBadge.uni.driver.js
  src/CounterBadge/constants.js
  src/Text/Caption.js
Labels: Internal

#5631 <RadioGroup/> - migrating to stylable
  src/RadioGroup/RadioButton/RadioButton.js
  src/RadioGroup/RadioButton/RadioButton.private.uni.driver.js
  src/RadioGroup/RadioButton/test/RadioButton.visual.js
  src/RadioGroup/RadioGroup.js
  src/RadioGroup/RadioGroup.scss
  src/RadioGroup/RadioGroup.st.css
  src/RadioGroup/test/RadioGroup.e2e.js
  src/RadioGroup/test/RadioGroup.spec.js
Labels: PR: ready-for-review :pray:

#5660 <NoBorderInput/> - Migrate to Stylable
  src/Input/Input.mixins.js
  src/NoBorderInput/NoBorderInput.js
  src/NoBorderInput/NoBorderInput.scss
  src/NoBorderInput/NoBorderInput.st.css
Labels: Internal

#5672 <Multiselect/> - remove use of internal part of Input
  src/MultiSelect/InputWithTags.js
  src/MultiSelect/InputWithTags.scss
  src/StatusIndicator/StatusIndicator.st.css
Labels: Internal

#5692 sign commits - docs
  CONTRIBUTING.md
  docs/contribution/CREATE_PR.md
Labels: Docs

#5700 <TimeInput/> - small fix
  src/TimeInput/TimeInput.js
  src/TimeInput/TimeInput.uni.driver.js
Labels: Internal

#5730 docs(Tooltip): add example with wrapped tooltip
  src/Tooltip/docs/examples.js
  src/Tooltip/docs/index.story.js
Labels: <Tooltip/>, Docs

#5733 feat(filterObject): add utility function and refactor Object.fromEntries
  src/Box/Box.js
  src/DropdownLayout/DropdownLayout.js
  src/utils/extractAttributes.js
  src/utils/extractAttributes.spec.js
  src/utils/filterObject.js
  src/utils/filterObject.spec.js
Labels: <Box/>, <DropdownLayout/>, <ScrollableContainer/>

#5734 fix(barchat): css specificity issues
  src/BarChart/BarChart.st.css
Labels: <BarChart/>, Bug

#5737 docs(*): rename componentNameTestkitFactory -> ComponentNameTestkit
  MIGRATION.md
  README.md
  docs/contribution/TEST_DRIVERS_GUIDELINES.md
  docs/contribution/WRITING_E2E_TESTS.md
  docs/usage/COMPONENTS_DRIVERS.md
  docs/usage/MOBILE_WEB_GUIDELINES.md
  docs/usage/testing.md
  docs/usage/testing_examples.md
  docs/usage/testing_pitfalls.md
  src/Button/docs/testkit.md
  src/Checkbox/README.TESTKIT.md
  src/CloseButton/docs/testkit.md
  src/DatePicker/README.TESTKIT.md
  src/Dropdown/README.TESTKIT.md
  src/DropdownLayout/README.TESTKIT.md
  src/Heading/README.TESTKIT.md
  src/Highlighter/README.TESTKIT.md
  src/IconButton/docs/testkit.md
  src/InputArea/README.TESTKIT.md
  src/InputWithOptions/README.TESTKIT.md
  src/MessageBox/README.TESTKIT.md
  src/ModalSelectorLayout/README.TESTKIT.md
  src/MultiSelectCheckbox/README.TESTKIT.md
  src/PopoverMenu/docs/testkit.md
  src/RadioGroup/README.TESTKIT.md
  src/Search/README.TESTKIT.md
  src/SegmentedToggle/docs/testkit.md
  src/Selector/README.TESTKIT.md
  src/Table/DataTable/README.TESTKIT.md
  src/Table/docs/README.TESTKIT.md
  src/TableActionCell/README.TESTKIT.md
  src/Text/README.TESTKIT.md
  src/TextButton/docs/testkit.md
  src/ToggleButton/docs/testkit.md
Labels: Docs, Testkit

#5746 test(GoogleAddressInput): refactor gmapsTestClient
  src/GoogleAddressInput/gmapsTestClient.js
Labels: <GoogleAddressInput/>, testing issues

#5732 <DatePicker/> -Add dateFormatV2 prop to support new date-fns format tokens
  src/DatePicker/DateInput/DateInput.js
  src/DatePicker/DateInput/index.d.ts
  src/DatePicker/DateInput/test/DateInput.spec.js
  src/DatePicker/DateInput/test/DateInput.tsx
  src/DatePicker/DateInput/test/DateInput.visual.js
  src/DatePicker/DatePicker.js
  src/DatePicker/README.md
  src/DatePicker/docs/ExampleDatePicker.js
  src/DatePicker/docs/examples.js
  src/DatePicker/docs/index.story.js
  src/DatePicker/index.d.ts
  src/DatePicker/test/DatePicker.spec.js
  src/DatePicker/test/DatePicker.tsx
  src/LocaleUtils.js
Labels: <DatePicker/>, WIP

#5563 <MediaOverlay /> - removeRoundedBorders prop
  src/MediaOverlay/MediaOverlay.js
  src/MediaOverlay/MediaOverlay.st.css
  src/MediaOverlay/index.d.ts
  src/MediaOverlay/test/MediaOverlay.tsx
  src/MediaOverlay/test/MediaOverlay.visual.js
Labels: <MediaOverlay/>, DO NOT MERGE, Requires UX review

#5743 <TagList/> - add size prop
  src/TagList/TagList.js
  src/TagList/docs/examples/Sizes.js
  src/TagList/docs/index.story.js
  src/TagList/index.d.ts
  src/TagList/test/TagList.tsx
  src/TagList/test/TagList.visual.js
Labels: <TagList/>

#5755 <TagList/> - add onTagRemove prop
  src/TagList/TagList.js
  src/TagList/TagList.uni.driver.d.ts
  src/TagList/TagList.uni.driver.js
  src/TagList/docs/examples/Usage.js
  src/TagList/index.d.ts
  src/TagList/test/TagList.spec.js
  src/TagList/test/TagList.tsx
Labels: <TagList/>

#5767 <TagList/> - Fix playground
  src/TagList/docs/examples/Sizes.js
  src/TagList/docs/index.story.js
Labels: <TagList/>, Bug

#5772 <TagList/> - Classful component
  src/TagList/TagList.js
  src/TagList/TagListAction/TagListAction.js
  src/TagList/TagListAction/index.js
Labels: <TagList/>

#5771 <DatePicker/> fix bug of date not retuning the midnight of the selected date
  src/DatePicker/DatePicker.js
  src/DatePicker/test/DatePicker.spec.js
Labels: <DatePicker/>, Bug

#5765 <DatePicker />, <Calendar /> Allow setting first day of the week for calendar
  src/Calendar/Calendar.js
  src/Calendar/docs/index.story.js
  src/Calendar/index.d.ts
  src/Calendar/test/Calendar.spec.js
  src/Calendar/test/Calendar.tsx
  src/DatePicker/DatePicker.js
  src/DatePicker/docs/index.story.js
  src/DatePicker/index.d.ts
  src/DatePicker/test/DatePicker.spec.js
  src/DatePicker/test/DatePicker.tsx
Labels: <Calendar/>, <DatePicker/>
